.blogFlex{
    background-color: $colourDarkAqua;
    display: flex;
    padding-bottom: 100px;
}

.blogPost{
    background-color: $colourDarkAqua;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    position: relative;
    top: -150px; right: 0;
}

.blogImage {
    img{
        box-shadow: -20px 20px $colourBrightAqua;
        }
    }
    

.activities{
    box-shadow: -10px 10px $colourBrightAqua;
    padding: 80px;
    position: relative;
    right: 10px;
    h2{
        @include h2Styles($colourGrey);
    }
    p{
        @include bodyStyles($colourGrey);
    }
}

.commentsSection{
    background-color: $colourDarkAqua;
    margin-left: 5%;
    padding: 0 0 0 80px;
    position: relative;
    right: 10px;
    h2{
        @include h2Styles($colourGrey);
        margin: 0 0 50px 0;
    }
     p{
        @include bodyStyles($colourGrey);
    }
}

.comment{
    display: flex;
    margin-bottom: 50px;
    padding: 0 20px;
    .commentText{
        flex-basis: 75%;
        .commentDate{
            font-weight: bold;
            font-style: italic;
            margin: 0;
        }
    }
}

.commentImage{
    margin-right: 30px;
}

// MEDIA QUERIES

@media (max-width: 1200px){} 

@media (max-width: 890px){

    .blogFlex{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 5% 0;
        .blogPost{
            display: flex;
            flex-direction: column;
            margin: 5%;
            top: 0px; 
            order: 1;
        }
    }

    .blogImage {
        img{
        box-shadow: -20px 20px $colourBrightAqua;
        }
    }

    .activities{
        box-shadow: none;
        padding: 30px;
        right: 0px;
    }

    .commentsSection{
        margin: 6%;
        padding: 0;
        right: 0px;
    }

    .activities,
    .commentsSection{
        h2{
            font-size: calc(45px * 0.8);
            text-align: center;
        }
        p{
            font-size: calc(20px * 0.9);
        }
    }


} 

@media (max-width: 767px){
    
    
} 

@media (max-width: 650px){
     
} 
@media (max-width: 480px){

     .blogFlex{
        margin: 0 auto;
        padding: 3% 0;
        .blogPost{
            padding: 10px;
            top: 0px; 
            order: 1;
        }
    }

    .activities{
        padding: 0px;
        right: 0px;
    }

    .activities,
    .commentsSection{
        h2{
            font-size: calc(45px * 0.6);
            text-align: center;
        }
        p{
            font-size: calc(20px * 0.9);
        }
    }

    .blogImage {
        img{
        box-shadow: -5px 5px $colourBrightAqua;   
        }
    }

    .comment{
    display: flex;
    flex-direction: column;
    padding: 0 10px;    
    }

    .commentImage{
    text-align: left;
    width: 90px;
}

    .commentsSection{
        margin: 0 auto;
        padding: 0;
        right: 0;
        .comment{
            padding: 0 30px;
        }
    }

} 
@media (max-width: 320px){

   .activities,
    .commentsSection{
        h2{
            font-size: calc(45px * 0.7);
            text-align: center;
        }
        p{
            font-size: calc(20px * 0.8);
        }
    }

}