.blogFlex{
    background-color: $colourDarkAqua;
    display: flex;
    padding-bottom: 100px;
}

.blogPost{
    background-color: $colourDarkAqua;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    position: relative;
    top: -100px; right: 0;
}

.blogImage {
    position: relative;
    img{
    box-shadow: -20px 20px $colourBrightAqua;
    }
}

.activities{
    box-shadow: -10px 10px $colourBrightAqua;
    padding: 80px;
    position: relative;
    right: 10px;
    h2{
        @include h2Styles($colourGrey);
    }
    p{
        @include bodyStyles($colourGrey);
    }
}

.commentsSection{
    background-color: $colourDarkAqua;
    margin-left: 5%;
    padding: 0 0 0 80px;
    position: relative;
    right: 10px;
    h2{
        @include h2Styles($colourGrey);
        margin: 0 0 50px 0;
    }
     p{
        @include bodyStyles($colourGrey);
    }

}

.comment{
    display: flex;
    margin-bottom: 50px;
    .commentText{
        flex-basis: 75%;
        .commentDate{
            font-weight: bold;
            font-style: italic;
            margin: 0;
        }
    }
}

.commentImage{
    margin-right: 30px;
}