.sideBar{
    background-color: $colourPurple;
    order: -1;
    margin: 0 5%;
    height: 100%;
    padding: 0 20px 80px 20px;
    position: relative;
    top: 100px;
    h3{
        color: $colourGrey;
        font-family: $headingFont;
        font-size: $h3Size;
    }
    p{
        @include bodyStyles($colourGrey);
    }
}

.sideBarImage{
    position: relative;
    top: -20px; left: -30%;
    width: 130%;
}

.sideBar ul{
    list-style-type: disc;
    color: $colourBrightAqua;
    padding-left: 20px;
}

a{
    @include bodyStyles($colourGrey);
}

@media (max-width: 1200px){

    .sideBar{
        p,
        a{
            font-size: calc(#{$bodySize} * 0.9);
        }
        a{
            white-space: nowrap;
        }
    }

    .sideBarImage{
    top: -20px; left: -35%;
    }   


} 
@media (max-width: 1100px){

    .sideBar{
        p,
        a{
        font-size: calc(#{$bodySize}  * 0.8);
        }
    }

    .sideBarImage{
        top: -20px; left: -40%;
    }   


} 
@media (max-width: 890px){

    .sideBar{
        display: flex;
        justify-content: space-around;
        order: 2;
        margin: 8%; 
        padding: 40px;
        top: 0;
        figure,
        article{
            margin: 0 20px;
        }
        figure{
            align-self: center;
            width: 55%;
        }
        article{
            width: 45%;
        }
    }

    .sideBarImage{
        position: relative;
        top: 0px; left: 0%;
        width: 100%;
    }


} 

@media (max-width: 767px){
    
} 
@media (max-width: 650px){

    .sideBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 2;
        padding: 40px;
        top: 0;
        figure,
        article{
            margin: 0 auto ;
            width: 100%;
        }
        figure{
            align-self: center;
            
        }
        
    }

} 
@media (max-width: 480px){

    .sideBar{
        margin: 5%;
        h3{
            margin: 0;
        }
    }

    .sideBarImage{
        display: none;
    }

} 
@media (max-width: 320px){

    
}