footer{
    background-color: $colourDarkBlue;
    padding: 10px;
    text-align: center;
    width: 100%;
    p{
        color: $colourGrey;
        font-family: $bodyFont;
        font-size: $bodySize;
        letter-spacing: $bodySpace;
        line-height: $bodyHeight;
        margin: 0;
    }
}
