.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInput{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.formText{
    display: flex;
    justify-content: center;
    width: 100%;
}

input,
textarea{
    margin: 10px;
    padding: 20px;
    &::placeholder{
        @include bodyStyles($colourGrey);
    }
}

// BLOG FORM STYLES

.blogFormInput{
    input{
        border: none;
        border-bottom: 2px solid $colourBrightAqua;
        flex-basis: 45%;
    }
}

.blogFormText{
    textarea{
        border: 2px solid $colourBrightAqua;
        flex-basis: 95%;
        margin: 20px 0;
    }
}

.blogFormInput input,
.blogFormText textarea{
    background-color: $colourDarkAqua;
}

// CONTACT FORM STYLES


.contactForm{
    background-color: $colourPurple;
    box-shadow: 20px 20px $colourBrightAqua;
    flex-basis: 60%;
    padding: 50px;
    position: relative;
    top: -100px; right: 20px;
}


.contactFormInput{
    input{
        border: none;
        border-bottom: 2px solid $colourGrey;
        flex-basis: 45%;
    }
}

.contactFormText{
    textarea{
        border: 2px solid $colourGrey;
        flex-basis: 95%;
        margin: 20px 0;
    }
}

.contactFormInput input,
.contactFormText textarea{
    background-color: $colourPurple;
}

// MEDIA QUERIES

@media (max-width: 1200px){
    .contactForm{
         flex-basis: 50%;
         padding: 30px;
     }
}

@media (max-width: 950px){



} 
@media (max-width: 890px){

    .contactForm{
        box-shadow: 5px 5px $colourBrightAqua;
        margin: 0 auto;
        top: 40px; right: 0px;
        width: 90%;
    }

} 
@media (max-width: 767px){} 
@media (max-width: 650px){
    .formInput.contactFormInput{
        flex-direction: column;
    }
} 

@media (max-width: 480px){
    .form{
        margin: 0px;
    }

    .formInput.blogFormInput{
        flex-direction: column;
    }

    .contactForm{
        padding: 10px;
        width: 100%;
    }

} 
@media (max-width: 320px){

    
}