
// FONTS
$headingFont: 'Walter Turncoat', cursive;
$bodyFont:'Roboto', sans-serif;

// FONT SIZE
$h1Size: 145.2px;
$h1SizeOther: 121.5px;
$bodySize: 20px;


// LINE HEIGHTS//

$h1Height: 125.6px;
$h4Height:58px;
$bodyHeight: 28px;

// LETTER SPACING 

$h4Space: 1.3px;
$navSpace: 1px;
$bodySpace: 1px;

// FONT WEIGHT
$regular: 400;
$bold: 700;

// COLOURS

$colourPurple: #474bb5;
$colourDarkBlue: #044779;
$colourGrey: #f3faff;
$colourDarkAqua: #03697c;
$colourBrightAqua: #08fded;

// BODY FONTS

@mixin bodyStyles($color) {
    color: $color;
    font-family: $bodyFont;
    font-size: $bodySize;
    letter-spacing: $bodySpace;
    line-height: $bodyHeight;
}
@mixin navStyles($color) {
    color: $color;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
}

@mixin h1Styles($color){
    color: $color;
    font-family: 'Walter Turncoat', cursive;
    font-size: 121.5px;
    line-height: 125.6px;
}

@mixin h2Styles($color){
    color: $color;
    font-family: 'Walter Turncoat', cursive;
    font-size: 45px;
}
@mixin h3Styles($color){
    color: $color;
    font-family: 'Walter Turncoat', cursive;
    font-size: 40px;
    line-height: 99.8px;
    margin: 0;
}

@mixin buttonStyles($width){
    background-color: $colourBrightAqua;
    color: $colourPurple;
    font-family: 'Walter Turncoat', cursive;
    font-size: 25.4px;
    line-height: 41.6px;
    width: $width;
}

