// FONT SIZE/STYLES
$homepageH1Size: 145.2px;
$otherpagesH1Size: 121.5px;
$h2Size: 45px;
$h3Size:40px;
$bodySize: 20px;
$bodyHeight: 28px;
$navSpace: 1px;
$bodySpace: 1px;
$regular: 400;
$bold: 700;

// FONT FAMILIES
$headingFont: 'Walter Turncoat', cursive;
$bodyFont:'Roboto', sans-serif;

// COLOURS

$colourPurple: #474bb5;
$colourDarkBlue: #044779;
$colourGrey: #f3faff;
$colourDarkAqua: #03697c;
$colourBrightAqua: #08fded;

// MIXINS

@mixin bodyStyles($color) {
    color: $color;
    font-family: $bodyFont;
    font-size: $bodySize;
    letter-spacing: $bodySpace;
    line-height: $bodyHeight;
}
@mixin navStyles($color) {
    color: $color;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px;
}

@mixin h1Homepage($color){
    color: $color;
    font-family: 'Walter Turncoat', cursive;
    font-size: $homepageH1Size;
}

@mixin h1Styles($color){
    color: $color;
    font-family: 'Walter Turncoat', cursive;
    font-size: $otherpagesH1Size;
    line-height: 125.6px;
}

@mixin h2Styles($color){
    color: $color;
    font-family: 'Walter Turncoat', cursive;
    font-size: $h2Size;
    line-height: 99.8px;
}
@mixin h3Styles($color){
    color: $color;
    font-family: 'Walter Turncoat', cursive;
    font-size: $h3Size;
    letter-spacing: 1.3px;
    line-height: 58px;
    margin: 0;
}

@mixin buttonStyles($width){
    background-color: $colourBrightAqua;
    color: $colourPurple;
    font-family: 'Walter Turncoat', cursive;
    font-size: 25.4px;
    line-height: 41.6px;
    width: $width;
}

