// NAVBAR STYLES

nav ul{
    display: flex;
    padding: 20px 30px;
        li{
            padding: 30px 20px;
            &:hover a{
                border-bottom: 3px solid $colourBrightAqua;
            }
        }
            a{
                @include navStyles($colourGrey);
            }
}

// HEADER CSS

header{
    position: relative;
    background-size: cover;
    height: 70vh;
    &.homePage{
        background-image:url("../FunPlace-final-assets/home-header.jpg");    
    }
    &.blog{
        background-image:url("../FunPlace-final-assets/blog-header.jpg");
    }
    &.contact{
        background-image:url("../FunPlace-final-assets/contact-header.jpg");
    }
}

.homeHeaderImage{
    position: absolute;
    top: 35%;
    right: 0;
    width: 40%;
    }

// HOMEPAGE H1 STYLES

.homePage h1{
    color: $colourGrey;
    font-family: $headingFont;
    font-size: $h1Size;
}

.blog h1,
.contact h1{
    @include h1Styles($colourGrey);
}

// MEDIA QUERIES

@media (max-width: 1200px){
    .homePage h1{
        font-size: calc(145.2px * 0.7);
    }

    .blog h1,
    .contact h1{
        font-size: calc(121.5px * 0.9);
    }
}

@media (max-width: 890px){
    .homePage h1{
        font-size: calc(145.2px * 0.5);
    }

    

    .blog h1,
    .contact h1{
        font-size: calc(121.5px * 0.7);
    }
}

@media (max-width: 767px){
    .homePage h1{
        font-size: calc(145.2px * 0.5);
    }

    .blog h1,
    .contact h1{
        font-size: calc(121.5px * 0.7);
    }
}

@media (max-width: 650px){
    .homePage h1{
        font-size: calc(145.2px * 0.4);
    }

    .homeHeaderImage{
        position: absolute;
        top: 45vh;
        right: 0;
        width: 50%;
    }

    .blog h1,
    .contact h1{
        font-size: calc(121.5px * 0.5);
    }

    nav ul{
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    margin: 0 auto;
    }
}

@media (max-width: 480px){

    .homePage h1{
        font-size: calc(145.2px * 0.5);
    }

    .blog h1,
    .contact h1{
        font-size: calc(121.5px * 0.6);
    }


    .homeHeaderImage{
        width: 60%;
    }

    nav ul{
        padding: 10px 15px;
        li{
            padding: 15px 10px;
            a{
                font-size: calc(20px * 0.9);
            }
        }
    }
    
}

@media (max-width: 320px){
    .homePage h1{
        font-size: calc(145.2px * 0.4);
    }
     .blog h1,
    .contact h1{
        font-size: calc(121.5px * 0.5);
    }
}



