// SKIP LINK

#skiptocontent a {
    @include buttonStyles(100%);
    // padding: 6px;
    padding: 5px 15px;
    position: absolute;
    top: -55px;
    left: 0px;
    -webkit-transition: top 1s ease-out;
    text-align: center;
    transition: top 1s ease-out;
    z-index: 100;
}

#skiptocontent a:focus {
    position: absolute;
    left: 0px;
    top: 0px;
    outline-color: transparent;
    -webkit-transition: top .1s ease-in;
    transition: top .3s ease-in;
}

// NAVBAR STYLES

nav ul{
    display: flex;
    padding: 20px 30px;
        li{
            padding: 30px 20px;
            &:hover a{
                border-bottom: 3px solid $colourBrightAqua;
            }
        }
            a{
                @include navStyles($colourGrey);
            }
}

// MOBILE NAV 

input[type="checkbox"] {
	opacity: 0;
}

label[for="toggle"] {
    @include navStyles($colourGrey);
    background-color: $colourDarkAqua;
    border: inset 2px $colourBrightAqua;
    display: none;
    padding: 5px 10px;
    position: absolute;
    top: 25px; right: 15px;
    text-align: center;
    width: 100px;
}

// HEADER CSS

header{
    position: relative;
    background-size: cover;
    height: 70vh;
    &.homePage{
        background-image:url("../FunPlace-final-assets/home-header.jpg");    
    }
    &.blog{
        background-image:url("../FunPlace-final-assets/blog-header.jpg");
    }
    &.contact{
        background-image:url("../FunPlace-final-assets/contact-header.jpg");
    }
}

.homeHeaderImage{
    position: absolute;
    top: 35%;
    right: 0;
    width: 40%;
    }

// H1 STYLES

h1{
    position: relative;
    top: 10vh;
}

.homePage h1{
    @include h1Homepage($colourGrey);
    margin: 0;
}

.blog h1,
.contact h1{
    @include h1Styles($colourGrey);
    margin: 0;
}

// MEDIA QUERIES

@media (max-width: 1300px){

    .homePage h1{
        font-size: calc(#{$homepageH1Size} * 0.8);
    }
}

@media (max-width: 1200px){
    .homePage h1{
        font-size: calc(#{$homepageH1Size} * 0.7);
    }

    .blog h1,
    .contact h1{
        font-size: calc(#{$otherpagesH1Size} * 0.9);
    }
}

@media (max-width: 1100px){

    .homeHeaderImage{
        top: 45%;
    }

}
@media (max-width: 890px){
    .homePage h1{
        font-size: calc(#{$homepageH1Size} * 0.5);
    }

    .blog h1,
    .contact h1{
        font-size: calc(#{$otherpagesH1Size} * 0.7);
    }

    .homeHeaderImage{
        position: absolute;
        top: 47%;
        right: 0;
        width: 45%;
    }
}

@media (max-width: 767px){

    .homeHeaderImage{
        position: absolute;
        top: 45vh;
        right: 0;
        width: 50%;
    }

    .homePage h1{
        font-size: calc(#{$homepageH1Size} * 0.5);
    }

    .blog h1,
    .contact h1{
        font-size: calc(#{$otherpagesH1Size} * 0.7);
    }
}

@media (max-width: 650px){

    header{
        &.contact{
            background-position: center;
        }
    }

    nav ul{
        display: flex;
        justify-content: center;
    }

    .homePage h1{
        font-size: calc(#{$homepageH1Size} * 0.4);
    }

    .homeHeaderImage{
        position: absolute;
        top: 45vh;
        right: 0;
        width: 55%;
    }

    .blog h1,
    .contact h1{
        font-size: calc(#{$otherpagesH1Size} * 0.5);
    }

}

@media (max-width: 480px){

    h1{
        top: 20vh;
    }

    .homePage h1,
    .blog h1{
        margin-left: 20px;
    }

    .homePage h1{
        font-size: calc(#{$homepageH1Size} * 0.4);
    }

    .blog h1{
        font-size: calc(#{$otherpagesH1Size} * 0.6);
    }

    .homeHeaderImage{
        display: none;
    }

    nav {
        display: none;
        position: absolute;
        top: 65px; right: 15px;
        z-index: 50;
        ul{
            align-items: flex-end;
            flex-direction: column;
            padding: 0;
            li{
            background-color:$colourDarkBlue;
            border-bottom:  solid 2px $colourBrightAqua;
            flex-direction: column;
            padding: 15px 10px;
            width: 100px;
                a{
                    
                    font-size: calc(#{$bodySize} * 0.8);
                }
            }
        }
    }

    input[type="checkbox"]:checked + nav  {
        display: flex; 
    }

    label[for="toggle"] {
        display: block;
        z-index: 50;
    }

}

@media (max-width: 320px){


     .blog h1{
        font-size: calc(#{$otherpagesH1Size} * 0.5);
    }

    .contact h1{
        font-size: calc(#{$otherpagesH1Size} * 0.4);
    }
}



