// FULL BLEED BANNER

.homeBanner{
    font-size: 0;
    width: 100%;
}

// EVENTS 

.eventsSection{
    background-color: $colourDarkAqua;
    padding: 100px 0;
}

.eventsFlex{
    display: flex;
    margin: 0 auto;
    .eventsImage{
        padding-right: 50px;
        flex-basis: 35%;
        img{
            box-shadow: -20px 20px $colourBrightAqua;
        }
    }
}

.eventsArticle{
    flex-basis: 65%;
    padding-left: 50px; 
    h3{
        color: $colourGrey  ;
        font-family: 'Walter Turncoat', cursive;
        font-size: 40px;
        margin: 0;
    }
    p{
        @include bodyStyles($colourGrey);
    }
}

// MEDIA QUERIES

@media (max-width: 1200px){} 
@media (max-width: 890px){
    .eventsSection{
        background-color: $colourDarkAqua;
        padding: 100px 0;
    }

    .eventsFlex{
        flex-direction: column;
        .eventsImage{
            padding: 15px;
        }
        .eventsImage,
        .eventsArticle{
            margin: 0 auto;
        }
    }

    .eventsArticle{
        h3{
        font-size: calc(40px * 0.8);
        line-height: calc(99.8px * 0.8);
        }
        p{
        font-size: calc(20px * 0.9);
        }
    }
} 
@media (max-width: 767px){


    
} 
@media (max-width: 650px){

} 
@media (max-width: 480px){

     .eventsSection{
        background-color: $colourDarkAqua;
        padding: 50px 0;
    }

    .eventsFlex{
        .eventsImage{   
          img{
            box-shadow: -5px 5px $colourBrightAqua;
            }
        }
    }

    .eventsArticle{
        padding: 10px;
    }

   
} 