
.homeSection2{
    background-color: $colourPurple;
    padding: 50px 0;   
}

.homeSectionLeftImage{
    img{
        box-shadow: 20px 20px $colourBrightAqua;
        display: inline-block;
        margin:0;
    }
}

.homeSectionRight{
    img{
        box-shadow: -20px 20px $colourBrightAqua;
        display: inline-block;
        margin:0;
    }
}


.homeSection2Flex{
    display: flex;
    flex-direction: row;
    .homeSectionLeft{
        padding-right: 90px;
        position: relative;
        width: 50%;
        .homeSectionLeftImage{
            position: absolute;
            top: -12%; 
        }
        .homeSectionLeftArticle{
            padding-left: 90px; 
            padding-top: 60%;
        }
    }
    .homeSectionRight{
        padding-left: 90px;
        position: relative;
        width: 50%;
        .homeSectionRightArticle{
            padding-right: 90px;
        }
        .homeSectionRightImage{
            position: absolute;
            bottom: -12%;
        }
    }
}



.homeSectionLeftArticle,
.homeSectionRightArticle{
    h3{
        color: $colourGrey;
        font-family: $headingFont;
        font-size: $h3Size;
    }
    p{
        @include bodyStyles($colourGrey);
    }
}