// ROAD TRIPS

.events{
    background: $colourDarkAqua;
    padding: 100px 50px;
    text-align: center;
    h3{
        @include h3Styles($colourGrey);
        margin: 0;
    }
    p{
        @include bodyStyles($colourGrey);
    }
    
}

.eventsWrapper{
    margin: 0 auto;
    width: 70%;
}


// FULL BLEED BANNER

.eventsBanner{
    font-size: 0;
    width: 100%;
}

// EVENTS 

.eventsArticleSection{
    background-color: $colourDarkAqua;
    padding: 100px 0;
}

.eventsArticleFlex{
    display: flex;
    margin: 0 auto;
    .eventsArticleImage{
        padding-right: 50px;
        flex-basis: 35%;
        img{
            box-shadow: -20px 20px $colourBrightAqua;
        }
    }
}

.eventsArticle{
    flex-basis: 65%;
    padding-left: 50px; 
    h3{
        color: $colourGrey;
        font-family: 'Walter Turncoat', cursive;
        font-size: $h3Size;
        margin: 0;
    }
    p{
        @include bodyStyles($colourGrey);
    }
}

// MEDIA QUERIES

@media (max-width: 1200px){
    .homeSection3Wrapper{
        width: 85%;
        }
} 

@media (max-width: 890px){
    .homeSection3Wrapper{
        width: 90%;
    }

    .eventsSection{
        background-color: $colourDarkAqua;
        padding: 100px 0;
    }

    .eventsFlex{
        flex-direction: column;
        .eventsImage{
            padding: 15px;
        }
        .eventsImage,
        .eventsArticle{
            margin: 0 auto;
        }
    }

    .eventsArticle{
        h3{
        font-size: calc(#{$h3Size} * 0.8);
        line-height: calc(99.8px * 0.8);
        }
        p{
        font-size: calc(#{$bodySize} * 0.9);
        }
    }
} 

@media (max-width: 650px){

    .homeSection3{
        h3{
        font-size: calc($h3Size * 0.8);
        line-height: calc(99.8px * 0.8);
        }
        p{
        font-size: calc(#{$bodySize} * 0.9);
        }
    }
} 

@media (max-width: 480px){

    .eventsWrapper{
        width: 95%;
    }

    .events{
        padding: 50px 15px;
        text-align: left;
        h3{
        font-size: calc(#{$h3Size} * 0.6);
        line-height: calc(99.8px * 0.4);
        }
    }

    .eventsSection{
        background-color: $colourDarkAqua;
        padding: 50px 0;
    }

    .eventsArticleFlex{
        .eventsArticleImage{   
          img{
            box-shadow: -5px 5px $colourBrightAqua;
            }
        }
    }

    .eventsArticle{
        padding: 10px;
    }

} 
