
.homeSection2{
    background-color: $colourPurple;
    padding: 50px 0;   
}

.homeSectionLeft,
.homeSectionRight{
    display: flex;
    .homeSectionLeftImage,
    .homeSectionRightImage,
    .programsArticle,
    .locationsArticle{
        flex-basis: 50%;
    }
    .homeSectionLeftImage{
        position: relative;
        top: -90px; left: -10%;
    }
    .homeSectionRightImage{
        position: relative;
        bottom: -70px; right: -9%;
    }
}


.homeSectionLeft{
    img{
        box-shadow: 20px 20px $colourBrightAqua;
        display: inline-block;
        margin:0;
    }
}

.homeSectionRight{
    img{
        box-shadow: -20px 20px $colourBrightAqua;
        display: inline-block;
        margin:0;
    }
}

.programsArticle{
    padding-left: 10%;
}

.locationsArticle{
    padding-right: 10%;
    padding-top: 5%;
    text-align: right;
}

.programsArticle,
.locationsArticle{
    h3{
        @include h3Styles($colourGrey);
    }
    p{
        @include bodyStyles($colourGrey);
    }
}