// ROAD TRIPS

.homeSection3Wrapper{
    margin: 0 auto;
    width: 70%;
}

.homeSection3{
    background: $colourDarkAqua;
    padding: 100px 50px;
    text-align: center;
    h3{
        @include h3Styles($colourGrey);
        margin: 0;
    }
    p{
        @include bodyStyles($colourGrey);
    }
    
}

// MEDIA QUERIES

@media (max-width: 1200px){
    .homeSection3Wrapper{
    width: 85%;
    }
} 

@media (max-width: 890px){
    .homeSection3Wrapper{
        width: 90%;
    }
} 

@media (max-width: 767px){} 
@media (max-width: 650px){
    .homeSection3{
        h3{
        font-size: calc(40px * 0.8);
        line-height: calc(99.8px * 0.8);
        }
        p{
        font-size: calc(20px * 0.9);
        }
    }
} 
@media (max-width: 480px){
    .homeSection3{

    padding: 50px 15px;

    }
    .homeSection3Wrapper{
        width: 95%;
    }

    .homeSection3{
        text-align: left;
        h3{
        font-size: calc(40px * 0.6);
        line-height: calc(99.8px * 0.4);
        }
        p{
            
        }
    }
} 
@media (max-width: 320px){}