.newsSection{
    background-color: $colourPurple;
    padding: 50px 0;   
    }


.newsSectionTop,
.newsSectionBottom{
    display: flex;
    .newsTopImage,
    .newsBottomImage,
    .programsArticle,
    .locationsArticle{
        flex-basis: 50%;
    }
    .newsTopImage{
        position: relative;
        top: -90px; left: -10%;
    }
    .newsBottomImage{
        position: relative;
        bottom: -70px; right: -9%;
    }
}

.newsSectionTop{
    img{
        box-shadow: 20px 20px $colourBrightAqua;
        display: inline-block;
        margin:0;
    }
}

.newsSectionBottom{
    img{
        box-shadow: -20px 20px $colourBrightAqua;
        display: inline-block;
        margin:0;
    }
}

.programsArticle{
    padding-left: 10%;
}

.locationsArticle{
    padding-right: 10%;
    padding-top: 5%;
    text-align: right;
}

.programsArticle,
.locationsArticle{
    h3{
        @include h3Styles($colourGrey);
    }
    p{
        @include bodyStyles($colourGrey);
    }
}

// MEDIA QUERIES

@media (max-width: 1250px){

    .newsSection{
        background-color: $colourPurple;
        padding: 50px 0;   
    }

    .newsSectionTop,
    .newsSectionBottom{
        .newsTopImage,
        .newsBottomImage{
            flex-basis: 60%
        }
        .programsArticle,
        .locationsArticle{
            flex-basis: 40%;
        }
    }

    .programsArticle{
        padding-left: 4%;
    }

    .locationsArticle{
        padding-right: 4%;
        padding-top: 5%;
    }

    .programsArticle,
    .locationsArticle{
        h3{
            font-size: calc(40px * 0.8);
            line-height: calc(99.8px * 0.8);
        }
        p{
            font-size: calc(#{$bodySize} * 0.9);
        }
    }
}

@media (max-width: 1100px){
    .newsSection{
        padding: 50px 0;   
    }

    .newsSectionTop,
    .newsSectionBottom{
        .newsTopImage{
            position: relative;
            top: 20px; left: -10%;
        }
        .newsBottomImage{
            position: relative;
            bottom: -50px; right: -8.5%;
        }
    }

} 

@media (max-width: 890px){
    .newsSectionTop,
    .newsSectionBottom{
        .newsTopImage,
        .newsBottomImage{
            flex-basis: 55%;
            bottom: -100px; right: -8.5%;
        }
        .programsArticle,
        .locationsArticle{
            flex-basis: 45%;
        }
    }

}

@media (max-width: 768px){

    .newsSection{
        padding: 50px 0;
    }

    .newsSectionTop,
    .newsSectionBottom{
        flex-direction: column;
        .newsBottomImage{
            order: 1;
        }
        .locationsArticle{
            order: 2;
        }
    }

    .newsSectionTop,
    .newsSectionBottom{
        .newsTopImage{
            padding-top: 50px;
            position: relative;
            margin: 0 auto; 
            top: 0; left: 0;
        }
        .newsBottomImage{
            position: relative;
            margin: 0 auto; 
            top: 0; left: 0;
        }
    }

    .programsArticle,
    .locationsArticle{
        margin: 15px 10px;
        padding: 15px 10px 50px;
        text-align: left;
    }

} 

@media (max-width: 480px){

    .newsSectionTop{
        img{
            box-shadow: 5px 5px $colourBrightAqua;
            }
        }

    .newsSectionBottom{
        img{
            box-shadow: -5px 5px $colourBrightAqua;
        }
    }

    .programsArticle,
    .locationsArticle{
        margin: 0;
    }

}
