.homeSection3Wrapper{
    margin: 0 auto;
    width: 70%;
}

.homeSection3{
    background: $colourDarkAqua;
    padding: 100px 50px;
    text-align: center;
    h3{
        @include h3Styles($colourGrey);
        margin: 0;
    }
    p{
        @include bodyStyles($colourGrey);
    }
    
}