article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 16px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.wrapper {
  margin: 0 auto;
  width: 85%; }

img {
  width: 100%; }

@media (max-width: 480px) {
  .wrapper {
    width: 95%; } }

.circle-icon {
  background: #08fded;
  color: #474bb5;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle; }

.readMore,
.findOutMore {
  background-color: #08fded;
  color: #474bb5;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25.4px;
  line-height: 41.6px;
  width: 100%;
  padding: 5px 15px; }

.submitButton {
  background-color: #08fded;
  color: #474bb5;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25.4px;
  line-height: 41.6px;
  width: 95%;
  border: 1px solid #08fded;
  margin: 10px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social li {
    margin-right: 25px; }
    .social li a {
      font-size: 25px; }

@media (max-width: 890px) {
  .social {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .social li {
      margin: 20px 40px 20px 0; }
      .social li a {
        font-size: 35px; } }

@media (max-width: 650px) {
  .social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .social li {
      margin: 30px; }
  .address {
    text-align: center; }
    .address a {
      line-height: 40px; } }

@media (max-width: 480px) {
  .social li {
    margin: 20px; } }

.form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.formInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%; }

.formText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%; }

input,
textarea {
  margin: 10px;
  padding: 20px; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }
  input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }
  input::placeholder,
  textarea::placeholder {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }
  input:focus,
  textarea:focus {
    -webkit-box-shadow: 0 0 10px #08fded;
    box-shadow: 0 0 10px #08fded; }

input, select, textarea {
  color: #f3faff; }

.blogFormInput input {
  border: none;
  border-bottom: 2px solid #08fded;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%; }

.blogFormText textarea {
  border: 2px solid #08fded;
  -ms-flex-preferred-size: 95%;
  flex-basis: 95%;
  margin: 20px 0; }

.blogFormInput input,
.blogFormText textarea {
  background-color: #03697c; }

.contactForm {
  background-color: #474bb5;
  -webkit-box-shadow: 20px 20px #08fded;
  box-shadow: 20px 20px #08fded;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  padding: 50px;
  position: relative;
  top: -100px;
  right: 20px; }

.contactFormInput input {
  border: none;
  border-bottom: 2px solid #f3faff;
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%; }

.contactFormText textarea {
  border: 2px solid #f3faff;
  -ms-flex-preferred-size: 95%;
  flex-basis: 95%;
  margin: 20px 0; }

.contactFormInput input,
.contactFormText textarea {
  background-color: #474bb5; }

@media (max-width: 1200px) {
  .contactForm {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 30px; } }

@media (max-width: 890px) {
  .contactForm {
    -webkit-box-shadow: 5px 5px #08fded;
    box-shadow: 5px 5px #08fded;
    margin: 0 auto;
    top: 40px;
    right: 0;
    width: 90%; } }

@media (max-width: 650px) {
  .contactFormInput {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 480px) {
  .form {
    margin: 0; }
  .blogFormInput {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .contactForm {
    padding: 10px;
    width: 100%; } }

#skipToContent a {
  background-color: #08fded;
  color: #474bb5;
  font-family: 'Walter Turncoat', cursive;
  font-size: 25.4px;
  line-height: 41.6px;
  width: 100%;
  padding: 5px 15px;
  position: absolute;
  top: -55px;
  left: 0;
  -webkit-transition: top 1s ease-out;
  text-align: center;
  -webkit-transition: top 0.5s ease-out;
  -o-transition: top 0.5s ease-out;
  transition: top 0.5s ease-out;
  z-index: 100; }

#skipToContent a:focus {
  position: absolute;
  left: 0;
  top: 0;
  outline-color: transparent;
  -webkit-transition: top .1s ease-in;
  -webkit-transition: top .3s ease-in;
  -o-transition: top .3s ease-in;
  transition: top .3s ease-in; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px; }
  nav ul li {
    padding: 30px 20px; }
    nav ul li:hover a {
      border-bottom: 3px solid #08fded; }
  nav ul a {
    color: #f3faff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 29px; }

input[type="checkbox"] {
  opacity: 0; }

label[for="toggle"] {
  color: #f3faff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 29px;
  background-color: #03697c;
  border: inset 2px #08fded;
  display: none;
  padding: 5px 10px;
  position: absolute;
  top: 25px;
  right: 15px;
  text-align: center;
  width: 100px; }

header {
  position: relative;
  background-size: cover;
  height: 70vh; }
  header.homePage {
    background-image: url("../FunPlaceAssets/homeHeader.jpg"); }
  header.blog {
    background-image: url("../FunPlaceAssets/blogHeader.jpg"); }
  header.contact {
    background-image: url("../FunPlaceAssets/contactHeader.jpg"); }

.homeHeaderImage {
  position: absolute;
  top: 25%;
  right: 0;
  width: 40%; }

h1 {
  position: relative;
  top: 10vh; }

.homePage h1 {
  color: #f3faff;
  font-family: 'Walter Turncoat', cursive;
  font-size: 145.2px;
  margin: 0; }

.blog h1,
.contact h1 {
  color: #f3faff;
  font-family: 'Walter Turncoat', cursive;
  font-size: 121.5px;
  line-height: 125.6px;
  margin: 0; }

@media (max-width: 1300px) {
  .homePage h1 {
    font-size: calc(145.2px * 0.8); } }

@media (max-width: 1200px) {
  .homePage h1 {
    font-size: calc(145.2px * 0.7); }
  .blog h1,
  .contact h1 {
    font-size: calc(121.5px * 0.9); } }

@media (max-width: 1100px) {
  .homeHeaderImage {
    top: 45%; } }

@media (max-width: 890px) {
  .homePage h1 {
    font-size: calc(145.2px * 0.5); }
  .blog h1,
  .contact h1 {
    font-size: calc(121.5px * 0.7); }
  .homeHeaderImage {
    width: 45%; } }

@media (max-width: 767px) {
  .homeHeaderImage {
    top: 47vh;
    width: 50%; }
  .homePage h1 {
    font-size: calc(145.2px * 0.5); }
  .blog h1,
  .contact h1 {
    font-size: calc(121.5px * 0.7); } }

@media (max-width: 650px) {
  header.contact {
    background-position: center; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .homePage h1 {
    font-size: calc(145.2px * 0.4); }
  .homeHeaderImage {
    width: 55%; }
  .blog h1,
  .contact h1 {
    font-size: calc(121.5px * 0.5); } }

@media (max-width: 480px) {
  #skipToContent a {
    padding: 15px 15px;
    top: -75px; }
  h1 {
    top: 20vh; }
  .homePage h1,
  .blog h1 {
    margin-left: 20px; }
  .homePage h1 {
    font-size: calc(145.2px * 0.4); }
  .blog h1 {
    font-size: calc(121.5px * 0.6); }
  .homeHeaderImage {
    display: none; }
  nav {
    display: none;
    position: absolute;
    top: 65px;
    right: 15px;
    z-index: 50; }
    nav ul {
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0; }
      nav ul li {
        background-color: #044779;
        border-bottom: solid 2px #08fded;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 15px 10px;
        width: 100px; }
        nav ul li a {
          font-size: calc(20px * 0.8); }
  input[type="checkbox"]:checked + nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  label[for="toggle"] {
    display: block;
    z-index: 10; } }

@media (max-width: 320px) {
  .blog h1 {
    font-size: calc(121.5px * 0.5); }
  .contact h1 {
    font-size: calc(121.5px * 0.4); } }

.aboutSection {
  background-color: #03697c;
  padding: 170px 0 150px 0; }

.quickLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .quickLinks .quickLinksSection {
    margin: 10px 30px;
    width: calc(50% - 60px); }

.quickLinksSection {
  color: #f3faff; }
  .quickLinksSection a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .quickLinksSection h2 {
    color: #f3faff;
    font-family: 'Walter Turncoat', cursive;
    font-size: 45px;
    line-height: 99.8px;
    margin-left: 15px; }
  .quickLinksSection p {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }

.quickLinksSection:hover a h2 {
  text-shadow: 2px 2px 2px #474bb5;
  white-space: nowrap; }

.quickLinksSection:hover a .circle-icon {
  background: #474bb5;
  border: 2px solid #08fded;
  color: #08fded; }

@media (max-width: 1200px) {
  .aboutSection {
    padding: 140px 0 120px 0; }
  .quickLinksSection h2 {
    font-size: calc(45px * 0.7); } }

@media (max-width: 767px) {
  .aboutSection {
    padding: 120px 0 100px 0; }
  .quickLinksSection h2 {
    font-size: calc(45px * 0.6); }
  .quickLinksSection p {
    font-size: calc(20px * 0.9); } }

@media (max-width: 650px) {
  .quickLinks {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .quickLinks .quickLinksSection {
      margin: 05px;
      width: 95%; } }

@media (max-width: 480px) {
  .aboutSection {
    padding: 50px 0 50px 0; }
  h2 {
    font-size: calc(45px * 0.5); } }

.newsSection {
  background-color: #474bb5;
  padding: 50px 0; }

.newsSectionTop,
.newsSectionBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .newsSectionTop .newsTopImage,
  .newsSectionTop .newsBottomImage,
  .newsSectionTop .programsArticle,
  .newsSectionTop .locationsArticle,
  .newsSectionBottom .newsTopImage,
  .newsSectionBottom .newsBottomImage,
  .newsSectionBottom .programsArticle,
  .newsSectionBottom .locationsArticle {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .newsSectionTop .newsTopImage,
  .newsSectionBottom .newsTopImage {
    position: relative;
    top: -90px;
    left: -10%; }
  .newsSectionTop .newsBottomImage,
  .newsSectionBottom .newsBottomImage {
    position: relative;
    bottom: -70px;
    right: -9%; }

.newsSectionTop img {
  -webkit-box-shadow: 20px 20px #08fded;
  box-shadow: 20px 20px #08fded;
  display: inline-block;
  margin: 0; }

.newsSectionBottom img {
  -webkit-box-shadow: -20px 20px #08fded;
  box-shadow: -20px 20px #08fded;
  display: inline-block;
  margin: 0; }

.programsArticle {
  padding-left: 10%; }

.locationsArticle {
  padding-right: 10%;
  padding-top: 5%;
  text-align: right; }

.programsArticle h3,
.locationsArticle h3 {
  color: #f3faff;
  font-family: 'Walter Turncoat', cursive;
  font-size: 40px;
  letter-spacing: 1.3px;
  line-height: 58px;
  margin: 0; }

.programsArticle p,
.locationsArticle p {
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px; }

@media (max-width: 1250px) {
  .newsSection {
    background-color: #474bb5;
    padding: 50px 0; }
  .newsSectionTop .newsTopImage,
  .newsSectionTop .newsBottomImage,
  .newsSectionBottom .newsTopImage,
  .newsSectionBottom .newsBottomImage {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%; }
  .newsSectionTop .programsArticle,
  .newsSectionTop .locationsArticle,
  .newsSectionBottom .programsArticle,
  .newsSectionBottom .locationsArticle {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }
  .programsArticle {
    padding-left: 4%; }
  .locationsArticle {
    padding-right: 4%;
    padding-top: 5%; }
  .programsArticle h3,
  .locationsArticle h3 {
    font-size: calc(40px * 0.8);
    line-height: calc(99.8px * 0.8); }
  .programsArticle p,
  .locationsArticle p {
    font-size: calc(20px * 0.9); } }

@media (max-width: 1100px) {
  .newsSection {
    padding: 50px 0; }
  .newsSectionTop .newsTopImage,
  .newsSectionBottom .newsTopImage {
    position: relative;
    top: 20px;
    left: -10%; }
  .newsSectionTop .newsBottomImage,
  .newsSectionBottom .newsBottomImage {
    position: relative;
    bottom: -50px;
    right: -8.5%; } }

@media (max-width: 890px) {
  .newsSectionTop .newsTopImage,
  .newsSectionTop .newsBottomImage,
  .newsSectionBottom .newsTopImage,
  .newsSectionBottom .newsBottomImage {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    bottom: -100px;
    right: -8.5%; }
  .newsSectionTop .programsArticle,
  .newsSectionTop .locationsArticle,
  .newsSectionBottom .programsArticle,
  .newsSectionBottom .locationsArticle {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%; } }

@media (max-width: 768px) {
  .newsSection {
    padding: 50px 0; }
  .newsSectionTop,
  .newsSectionBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .newsSectionTop .newsBottomImage,
    .newsSectionBottom .newsBottomImage {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .newsSectionTop .locationsArticle,
    .newsSectionBottom .locationsArticle {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
  .newsSectionTop .newsTopImage,
  .newsSectionBottom .newsTopImage {
    padding-top: 50px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0; }
  .newsSectionTop .newsBottomImage,
  .newsSectionBottom .newsBottomImage {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0; }
  .programsArticle,
  .locationsArticle {
    margin: 15px 10px;
    padding: 15px 10px 50px;
    text-align: left; } }

@media (max-width: 480px) {
  .newsSectionTop img {
    -webkit-box-shadow: 5px 5px #08fded;
    box-shadow: 5px 5px #08fded; }
  .newsSectionBottom img {
    -webkit-box-shadow: -5px 5px #08fded;
    box-shadow: -5px 5px #08fded; }
  .programsArticle,
  .locationsArticle {
    margin: 0; } }

.events {
  background: #03697c;
  padding: 100px 50px;
  text-align: center; }
  .events h3 {
    color: #f3faff;
    font-family: 'Walter Turncoat', cursive;
    font-size: 40px;
    letter-spacing: 1.3px;
    line-height: 58px;
    margin: 0; }
  .events p {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }

.eventsWrapper {
  margin: 0 auto;
  width: 70%; }

.eventsBanner {
  font-size: 0;
  width: 100%; }

.eventsArticleSection {
  background-color: #03697c;
  padding: 100px 0; }

.eventsArticleFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  .eventsArticleFlex .eventsArticleImage {
    padding-right: 50px;
    -ms-flex-preferred-size: 35%;
    flex-basis: 35%; }
    .eventsArticleFlex .eventsArticleImage img {
      -webkit-box-shadow: -20px 20px #08fded;
      box-shadow: -20px 20px #08fded; }

.eventsArticle {
  -ms-flex-preferred-size: 65%;
  flex-basis: 65%;
  padding-left: 50px; }
  .eventsArticle h3 {
    color: #f3faff;
    font-family: 'Walter Turncoat', cursive;
    font-size: 40px;
    margin: 0; }
  .eventsArticle p {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }

@media (max-width: 1200px) {
  .homeSection3Wrapper {
    width: 85%; } }

@media (max-width: 890px) {
  .homeSection3Wrapper {
    width: 90%; }
  .eventsSection {
    background-color: #03697c;
    padding: 100px 0; }
  .eventsArticleFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .eventsArticleFlex .eventsArticleImage {
      padding: 15px; }
    .eventsArticleFlex .eventsArticleImage,
    .eventsArticleFlex .eventsArticle {
      margin: 0 auto; }
  .eventsArticle h3 {
    font-size: calc(40px * 0.8);
    line-height: calc(99.8px * 0.8); }
  .eventsArticle p {
    font-size: calc(20px * 0.9); } }

@media (max-width: 650px) {
  .events h3 {
    font-size: calc(40px * 0.8);
    line-height: calc(99.8px * 0.8); }
  .events p {
    font-size: calc(20px * 0.9); } }

@media (max-width: 480px) {
  .events {
    padding: 50px 15px;
    text-align: left; }
    .events h3 {
      font-size: calc(40px * 0.6);
      line-height: calc(99.8px * 0.4); }
  .eventsWrapper {
    width: 95%; }
  .eventsSection {
    background-color: #03697c;
    padding: 50px 0; }
  .eventsArticleFlex .eventsArticleImage img {
    -webkit-box-shadow: -5px 5px #08fded;
    box-shadow: -5px 5px #08fded; }
  .eventsArticle {
    padding: 10px; } }

.gallery {
  background-color: #474bb5;
  padding: 100px 0; }

.galleryContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gallery .galleryItem {
  width: calc(33.3% - 20px);
  margin: 10px; }

@media (max-width: 650px) {
  .galleryContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .gallery .galleryItem {
    width: calc(100% - 30px);
    margin: 15px; } }

.blogFlex {
  background-color: #03697c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px; }

.blogPost {
  background-color: #03697c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 5%;
  position: relative;
  top: -150px;
  right: 0; }

.blogImage img {
  -webkit-box-shadow: -20px 20px #08fded;
  box-shadow: -20px 20px #08fded; }

.activities {
  -webkit-box-shadow: -10px 10px #08fded;
  box-shadow: -10px 10px #08fded;
  padding: 80px;
  position: relative;
  right: 10px; }
  .activities h2 {
    color: #f3faff;
    font-family: 'Walter Turncoat', cursive;
    font-size: 45px;
    line-height: 99.8px; }
  .activities p {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }

.commentsSection {
  background-color: #03697c;
  margin-left: 5%;
  padding: 0 0 0 80px;
  position: relative;
  right: 10px; }
  .commentsSection h2 {
    color: #f3faff;
    font-family: 'Walter Turncoat', cursive;
    font-size: 45px;
    line-height: 99.8px;
    margin: 0 0 50px 0; }
  .commentsSection p {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding: 0 20px; }
  .comment .commentText {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; }
    .comment .commentText .commentDate {
      font-weight: bold;
      font-style: italic;
      margin: 0; }

.commentImage {
  margin-right: 30px; }

@media (max-width: 890px) {
  .blogFlex {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    padding: 5% 0; }
    .blogFlex .blogPost {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 5%;
      top: 0;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
  .blogImage img {
    -webkit-box-shadow: -20px 20px #08fded;
    box-shadow: -20px 20px #08fded; }
  .activities {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 30px;
    right: 0; }
  .commentsSection {
    margin: 6%;
    padding: 0;
    right: 0; }
  .activities h2,
  .commentsSection h2 {
    font-size: calc(45px * 0.8);
    text-align: center; }
  .activities p,
  .commentsSection p {
    font-size: calc(20px * 0.9); } }

@media (max-width: 480px) {
  .blogFlex {
    margin: 0 auto;
    padding: 3% 0; }
    .blogFlex .blogPost {
      padding: 10px;
      top: 0;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
  .activities {
    padding: 0;
    right: 0; }
  .activities h2,
  .commentsSection h2 {
    font-size: calc(45px * 0.6);
    text-align: center; }
  .blogImage img {
    -webkit-box-shadow: -5px 5px #08fded;
    box-shadow: -5px 5px #08fded; }
  .comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10px; }
  .commentImage {
    text-align: left;
    width: 90px; }
  .commentsSection {
    margin: 0 auto;
    padding: 0;
    right: 0; }
    .commentsSection .comment {
      padding: 0 30px; } }

@media (max-width: 320px) {
  .activities h2,
  .commentsSection h2 {
    font-size: calc(45px * 0.7);
    text-align: center; }
  .activities p,
  .commentsSection p {
    font-size: calc(20px * 0.8); } }

.sideBar {
  background-color: #474bb5;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  margin: 0 5%;
  height: 100%;
  padding: 0 20px 80px 20px;
  position: relative;
  top: 100px; }
  .sideBar h3 {
    color: #f3faff;
    font-family: "Walter Turncoat", cursive;
    font-size: 40px; }
  .sideBar p {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px; }

.sideBarImage {
  position: relative;
  top: -20px;
  left: -30%;
  width: 130%; }

.sideBar ul {
  list-style-type: disc;
  color: #08fded;
  padding-left: 20px; }

a {
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px; }

@media (max-width: 1200px) {
  .sideBar p,
  .sideBar a {
    font-size: calc(20px * 0.9); }
  .sideBar a {
    white-space: nowrap; }
  .sideBarImage {
    top: -20px;
    left: -35%; } }

@media (max-width: 1100px) {
  .sideBar p,
  .sideBar a {
    font-size: calc(20px  * 0.8); }
  .sideBarImage {
    top: -20px;
    left: -40%; } }

@media (max-width: 890px) {
  .sideBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin: 8%;
    padding: 40px;
    top: 0; }
    .sideBar figure,
    .sideBar article {
      margin: 0 20px; }
    .sideBar figure {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      width: 55%; }
    .sideBar article {
      width: 45%; }
  .sideBarImage {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; } }

@media (max-width: 650px) {
  .sideBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    padding: 40px;
    top: 0; }
    .sideBar figure,
    .sideBar article {
      margin: 0 auto;
      width: 100%; }
    .sideBar figure {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; } }

@media (max-width: 480px) {
  .sideBar {
    margin: 5%; }
    .sideBar h3 {
      margin: 0; }
  .sideBarImage {
    display: none; } }

.contactFlex {
  background-color: #03697c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  width: 100%; }

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  padding: 80px; }

.contact p,
.address p {
  white-space: nowrap; }

.contactInfoWrapper p {
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 28px; }

.address p {
  margin: 5px 0; }

@media (max-width: 1100px) {
  .contactInfo {
    padding: 50px; } }

@media (max-width: 950px) {
  .contactInfoWrapper p {
    font-size: calc(20px * 0.9); } }

@media (max-width: 890px) {
  .contactFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px; }
  .contactInfoWrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
    padding: 50px 0; } }

@media (max-width: 650px) {
  .contactInfoWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0; }
  .contactInfo {
    padding: 20px; }
  .social {
    margin: 0 10px; } }

@media (max-width: 480px) {
  .contactInfoWrapper p {
    font-size: calc(20px  * 0.8); }
  .contactFlex {
    padding: 20px; } }

footer {
  background-color: #044779;
  padding: 10px;
  text-align: center;
  width: 100%; }
  footer p {
    color: #f3faff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 28px;
    margin: 0; }

@media (max-width: 320px) {
  footer p {
    font-size: calc(20px * 0.9); } }
